body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 32px;
}

.counterGreen {
  color: green
}
.counterRed {
  color: red;
}
.counterYellow {
  color: yellow
}